button {
    width: 10em;
    height: 3em;
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 1.4em;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 1.88em;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
}

button::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: 4em;
    height: 100px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgba(255, 248, 220, 0.585);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

button:hover::before {
    scale: 3;
}

button:hover {
    color: #000000;
    scale: 1.1;
    /* box-shadow: 20 20px 20px rgba(0, 0, 0, 0.4); */
}

button:active {
    scale: 1;
}